@import 'mixins';

.background-login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(252, 244, 244);
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

  &__title{
    font-family: var(--font-gotham-bold);
    font-size: 45px;
    color: red;
    font-style: bold;
    margin-bottom: 8px;
  }

  &__subtitle{
    font-family: var(--font-gotham-bold);
    font-size: 25px;
    font-style: bold;
    margin-bottom: 10px;
  }

  &__form {
    width: 400px;
  }

  &__register {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
  }

  &__button {
    color: var(--color-primary);
  }
}