@import 'mixins';

.search {
  &__sider {
    overflow: auto;
    height: 88vh;
    scrollbar-width: thin;
    scrollbar-color: unset;
    background-color: white !important;
  }

  &__content {
    padding: 20px;
    min-height: 80vh;
  }

  &__title {
    text-align: center;
  }

  &__no-results {
    margin-left: 12px;
    margin-top: 20px;
    font-size: var(--text-xs);
    font-style: italic;
    font-family: var(--font-montserrat);
  }
}
