KEYCLOAK_CLIENT_ID=paws-claws-client
KEYCLOAK_CLIENT_SECRET=W7huTyGvNq6IIjBJ3pYYV7qMLLkkqmIa
KEYCLOAK_ISSUER=http://localhost:8181/realms/paws-and-claws-realm
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=fx1y6jA8WtYw25qxAYZKYaW75JUCanAnzPLWTY+1D20
KEYCLOAK_END_SESSION_URL=http://localhost:8181/realms/paws-and-claws-realm/protocol/openid-connect/logout
KEYCLOAK_REFRESH_TOKEN_URL=http://localhost:8181/realms/paws-and-claws-realm/protocol/openid-connect/token
FACE_SHAPE_MODEL_KEY=DMcwoln0peywtlKgiHHT
